.carouselBookl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif; 
    font-size: 20px; 
  }
  
  .carouselBook__img {
    max-width: 85%;
    height: auto;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: #333;
  }
  
  .slick-dots li button:before {
    color: #333;
  }