.body {
    background: red;
    margin: 0%;
}

.sectionPrincipal {
    width: 100%;
}

.sectionBody {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.sectionBody__img__notfound {
    width: 1000px;
    height: auto;
}

.sectionBody__p {
    font-family: sans-serif; /* Cambia el tipo de letra */
    font-size: 20px; /* Cambia el tamaño de la fuente */
}

.sectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.sectionHeader__img {
    width: 500px;
    height: auto;
}

.sectionFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    bottom: 0;
}

.card_about {
    display: flex;
}

.card {
    background-color: #333;
    border: 1px solid #444;
    color: #f0e68c;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.card__info {
    flex: 2;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: white;
}
.card__form {
    flex: 1;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: white;
}



.card__img {
    width: 200px;
}

.sectionBody_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.bottonSelection {
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno interno */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor de apuntador */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.bottonSelection:hover {
    background-color: #0056b3; /* Color de fondo azul oscuro al pasar el cursor */
}

.formGroup {
    margin-bottom: 30px;
}

.formGroup__label {
    display: block;
    margin-bottom: 5px;
}

.formGroup__textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search__input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search__input:focus {
    outline: none; /* Elimina el contorno al hacer clic en la barra de búsqueda */
}

.cardStore {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #333;
    border: 1px solid #444;
    color: #f0e68c;
    
}

.cardStore__book {
    text-align: center;
    width: 40%;
    margin: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: rgb(80, 71, 71);
}

.cardStore__detail {
    text-align: center;
    width:25%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: rgb(80, 71, 71);
}

.cardStore__notification {
    text-align: center;
    width:25%;
    margin: 20px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: rgb(80, 71, 71);
}

.cardStore__notification__img {
    width: 300px;
    height: auto;  
}