.body {
    background: red;
    margin: 0%;
}

.sectionPrincipal {
    width: 100%;
}


.sectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    align-content: center;
}

.sectionFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    bottom: 0;    

    
}
